body {
         margin: 0;
         background-color: #2A2734;
         text-align: center;
         font-family: sans-serif;
         font-style: italic;
         color: #a51f1f;
     }

     .container {
        position: relative;
        top: 750px;
        width: 520px;
        margin: 100px auto 0 auto;
        perspective: 1000px;
    }

     .container1 {
         position: relative;
         width: 520px;
         margin: 100px auto 0 auto;
         perspective: 1000px;
     }

     .carousel {
         position: absolute;
         width: 100%;
         height: 100%;
         transform-style: preserve-3d;
         animation: rotate360 60s infinite forwards alternate;
     }

     .image {
         position: absolute;
         width: 300px;
         height: 300px;
         top: 20px;
         left: 10px;
         right: 10px;
         background-size: cover;
         box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0);
         display: flex;
     }

     span {
         margin: 1em auto;
         font-size: 2rem;
     }

     .image:nth-child(1) {
         background-image: url("");
         transform: rotateY( 0deg) translateZ(560px);
     }

     .image:nth-child(2) {
         background-image: url("https://i.imgur.com/xEJRA4a.gif");
         transform: rotateY( 40deg) translateZ(560px);
     }

     .image:nth-child(3) {
         background-image: url("https://i.imgur.com/KnuQVEh.jpg");
         transform: rotateY( 80deg) translateZ(560px);
     }

     .image:nth-child(4) {
         background-image: url("https://i.imgur.com/LpcbFbp.jpg");
         transform: rotateY(120deg) translateZ(430px);
     }

     .image:nth-child(5) {
         background-image: url("https://i.imgur.com/5XZde2U.gif");
         transform: rotateY(160deg) translateZ(430px);
     }

     .image:nth-child(6) {
         background-image: url("https://i.imgur.com/VxP9KG4.gif");
         transform: rotateY(200deg) translateZ(560px);
     }

     .image:nth-child(7) {
         background-image: url("https://i.imgur.com/m5hdnJP.jpg");
         transform: rotateY(240deg) translateZ(430px);
     }

     .image:nth-child(8) {
         background-image: url("https://i.imgur.com/iAeFTwF.gif");
         transform: rotateY(280deg) translateZ(430px);
     }

     .image:nth-child(9) {
         background-image: url("");
         transform: rotateY(320deg) translateZ(430px);
     }

     .image:nth-child(10) {
        background-image: url("");
        transform: rotateY(320deg) translateZ(430px);
    }

     @keyframes rotate360 {
         from {
             transform: rotateY(0deg);
         }
         to {
             transform: rotateY(-360deg);
         }
     }