body {
         margin: 0;
         background-color: #2A2734;
         text-align: center;
         font-family: sans-serif;
         font-style: italic;
         color: #a51f1f;
     }

     .container {
         position: relative;
         width: 520px;
         margin: 100px auto 0 auto;
         perspective: 1000px;
     }

     .carousel {
         position: absolute;
         width: 100%;
         height: 100%;
         transform-style: preserve-3d;
         animation: rotate360 60s infinite forwards alternate;
     }

     .image {
         position: absolute;
         width: 300px;
         height: 300px;
         top: 20px;
         left: 10px;
         right: 10px;
         background-size: cover;
         box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0);
         display: flex;
     }

     span {
         margin: 1em auto;
         font-size: 2rem;
     }

     .image:nth-child(1) {
         background-image: url("https://cdn.discordapp.com/attachments/1008571208041775235/1074057526800302131/Dante360_35_years_young_female_with_long_curly_brown_hair_and_g_21a8dcb6-a6ad-4d63-bf44-3f5dcf6da872.png");
         transform: rotateY( 0deg) translateZ(560px);
     }

     .image:nth-child(2) {
         background-image: url("https://i.imgur.com/egXPPyl.png");
         transform: rotateY( 40deg) translateZ(560px);
     }

     .image:nth-child(3) {
         background-image: url("https://i.imgur.com/KnuQVEh.jpg");
         transform: rotateY( 80deg) translateZ(560px);
     }

     .image:nth-child(4) {
         background-image: url("https://i.imgur.com/LpcbFbp.jpg");
         transform: rotateY(120deg) translateZ(430px);
     }

     .image:nth-child(5) {
         background-image: url("https://i.imgur.com/fhnpXPj.jpg");
         transform: rotateY(160deg) translateZ(430px);
     }

     .image:nth-child(6) {
         background-image: url("https://i.imgur.com/vLnuidF.jpg?1");
         transform: rotateY(200deg) translateZ(560px);
     }

     .image:nth-child(7) {
         background-image: url("https://i.imgur.com/m5hdnJP.jpg");
         transform: rotateY(240deg) translateZ(430px);
     }

     .image:nth-child(8) {
         background-image: url("https://i.imgur.com/GYCg7hR.jpg");
         transform: rotateY(280deg) translateZ(430px);
     }

     .image:nth-child(9) {
         background-image: url("https://i.imgur.com/RhYmpTm.jpg");
         transform: rotateY(320deg) translateZ(430px);
     }

     .image:nth-child(10) {
        background-image: url("https://i.imgur.com/duZlenx.jpg");
        transform: rotateY(320deg) translateZ(430px);
    }

     @keyframes rotate360 {
         from {
             transform: rotateY(0deg);
         }
         to {
             transform: rotateY(-360deg);
         }
     }
