body {
    margin: 0;
    background-color: #2A2734;
    text-align: left;
    font-family: sans-serif;
    font-style: italic;
    color: #8f1fa5;
}

.introduction{
    text-align: center;
    font-family: sans-serif;
    font-style: italic;
}

.eye{
    position:absolute;
    height:300px;
    width:300px;
    top: auto;
    left : 40px;
    z-index: 1;
}
  
.heaven{
    position:relative;
    z-index: -1;
}